@media only screen and (max-width:1140px) {
    .body {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .headerLeft {
        flex-direction: column;
    }

    .logoContainer {
        max-width: 100%;
        flex-direction: column;
    }

    .searchIcon {
        width: 30%;
        flex-direction: column-reverse;
        text-align: left;
    }

    .searchIcon img {
        width: 10%;
    }

    .SearchInputContainer {
        width: 170%;
        flex-direction: column;
    }

    .headerRight {
        flex-direction: column;
    }
}